@import "cores.scss";
@import "resets.scss";
@import "layout.scss";

#cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__titulo-menu {
    width: 50%;
  }

  &__botoes-menu {
    width: 50%;
    justify-content: center;
  }

  nav {
    ul {
      list-style: none;
      padding: 4px;
      margin: 10 0 0 0px;
      gap: 4px;
      text-align: end;
      height: 100%;
      margin-right: 8px;

      li {
        display: inline;
        margin: 0 0 0 0px;
        background-color: rgb(50, 36, 250);
        color: white;
        padding: 16px;
        border-radius: 5%;
      }
    }
  }
}

#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__formulario {
    border: solid 2px #788895;
    background-color: #dfe6ed;
    width: 90%;
    max-height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 4px;
    
    &__lista{
      width: 100%;
      overflow: auto;

      &__tabelaLivros{
        height: 100%;
        overflow: auto;
      }
    }

    &__buscar {
        width: 100%;
        display: flex;
        flex-direction: row;

        &__titulo {
            width: 85%;
        }
    }
  }
}

